<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Flask WTF Login</h1>
    <form class="" action="{{ url_for('form')}}" method="POST">
      {{ form.csrf_token }}
      {{ form.username.label }}
      {{ form.username }}
      <ul>
        {% for error in form.username.errors %}
          <li style="color:red">{{ error }}</li>
        {% endfor %}
      </ul>
      {{ form.password.label }}
      {{ form.password }}
      <ul>
        {% for error in form.password.errors %}
          <li style="color:red">{{ error }}</li>
        {% endfor %}
      </ul>
      {{ form.recaptcha }}
      {% for error in form.recaptcha.errors %}
      <ul>
        <li style="color:red">{{ error }}</li>
      </ul>
      {% endfor %}
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
